<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">钱包加速</div>
		<div class="panel-body">
			<p>钱包或掉线，右上角点齿轮图标选设置。</p>
			<img class="img-thumbnail img-responsive" src="img/addnode/config.png">
			<p><strong>什么都不改，点“保存”</strong>，钱包就会重连最快的服务器。点完等左上角水滴一圈变绿。</p>
			<p></p>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">添加和重置服务器</div>
		<div class="panel-body">
			<p>添加服务器只要填入域名和端口即可。你可以再添加一个ws2.foxcny.com节点。这也是瑞狐提供的加速节点。</p>
			<img class="img-thumbnail img-responsive" src="img/addnode/ws2.png">
			<p>新钱包默认有很多节点。你可以先删光，再点“重置”，就能恢复最新的服务器。最后点“保存”生效。</p>
		</div>
	</div>
</div>
