<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">钱包提速</div>
		<div class="panel-body">
			<h4>添加Rippled节点，可以有效提升钱包速度。</h4>
			<h4>钱包默认的2个节点很慢。所以要添加s1和s2节点。</h4>
			<h4>单击右上角齿轮选择Settings，调出高级选项页面。</h4>
			<p>
				<img class="img-thumbnail img-responsive" src="img/addnode/config.png">
			</p>
			<h4>点击添加服务器并新增</h4>
			<p>
				<ul>
					<li>s1.ripple.com 端口443 安全连接secure</li>
					<li>s2.ripple.com 端口443 安全连接secure</li>
				</ul>
				<img class="img-thumbnail img-responsive" src="img/addnode/s1.png">
			</p>
			<h4>点击保存后钱包需要重新打开，继续添加即可。</h4>
			<p>
				<img class="img-thumbnail img-responsive" src="img/addnode/s2.png">
			</p>
			<h4>从此你的钱包将会运行得更流畅！如果还是连不上，请自行改善网络连接情况。瑞波服务器全部在国外。</h4>
		</div>
	</div>
</div>
