<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">钱包提速</div>
		<div class="panel-body">
			<h4>添加Rippled节点，可以有效提升钱包速度</h4>
			<p>
				钱包默认只会连接s-west.ripple.com和s-east.ripple.com。这两个服务器因为连接过多，经常会很慢。<br>
				通过添加s1和s2服务器，能有效地提升钱包速度和降低断线offline的概率。<br>
				如图所示，单击右上角齿轮先Settings，调出高级选项页面。<br>
				<img class="img-thumbnail img-responsive" src="img/addnode/config.png">
			</p>
			<h4>点击添加服务器并新增</h4>
			<p>
				<ul>
					<li>s1.ripple.com 端口443 安全连接secure</li>
					<li>s2.ripple.com 端口443 安全连接secure</li>
				</ul>
				<img class="img-thumbnail img-responsive" src="img/addnode/s1.png">
			</p>
			<p>
				点击保存后钱包需要重新打开，继续添加即可。<br>
				<img class="img-thumbnail img-responsive" src="img/addnode/s2.png">
			</p>
			<h4>从此你的钱包将会运行得更流畅！如果还是连不上，可以考虑用VPN等翻墙工具。</h4>
		</div>
	</div>
</div>
