<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">安装环境</div>
		<div class="panel-body">
			<h4>ripple-lib版本在0.12后基本重写，最新的语法请到ripple.com/build上看。</h4>
			<p>
				如果你用网页编程：可以直接用右键保存 <a href="js/lib/ripple-0.12.0-min.js">ripple-0.12.0-min.js</a>
			</p>
			<p>
				如果你用node.js，请安装node后，使用命令 npm install ripple-lib@0.12.0
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">求例</div>
		<div class="panel-body">
			<pre class="prettyprint">
var Remote	= require('ripple-lib').Remote;
var Amount	= require('ripple-lib').Amount;
var Account	= require('ripple-lib').Account;

var remote_config = {
	max_listeners : 100,
	trace : false,
	trusted : true,
	local_signing : true,
	connection_offest : 60,
	servers : [ {host : 's-west.ripple.com',port : 443, secure : true, pool : 3},
	            {host : 's-east.ripple.com',    port : 443, secure : true, pool : 3} ]
};
var remote = new Remote(remote_config);

var TIMEOUT = 20000;

var account = "rBMva6Js5JuGp9AsdwTWeiPxuXpnA1WuUL";
var secret = "sssssssssssssssssssss";

console.log('Connecting...');

remote.connect(function() {
	remote.setSecret(account, secret);
	console.log('Connected.');
	
	//查询XRP
	accountInfo(account, function(err, data){
		if (err) {
			console.error(err);
		} else {
			//console.log(data);
			var xrp = data.account_data.Balance / 1000000;
			console.log('I have %s XRP.', xrp);
		}
	});
	
	//查询其他货币
	accountLines(account, function(err, data){
		if (err) {
			console.error(err);
		} else {
			//console.log(data);
			data.lines.forEach(function(line) {
				var curr = line.currency;
				var balance = line.balance;
				var issuer = line.account;
				console.log('I have %s %s (%s).', balance, curr, issuer);
			});
		}
	});
	
	//查询委托单
	accountOffers(account, function(err, offers){
		if (err) {
			console.error(err);
		} else {
			console.log(offers);
		}
	});
	
	//测试买卖，需要正确的用户名和密钥
	testOffers();	
});

function testOffers() {
	var buy_amount = createAmount(100, 'XRP', '');
	var sell_amount = createAmount(1, 'CNY', 'rKiCet8SdvWxPXnAgYarFUXMh1zCPz432Y');
	createOffer(account, 'buy', buy_amount, sell_amount, function(err, seq) {
		if (err) {
			console.error(err);
		} else {
			console.log(seq);
			accountOffers(account, function(err, offers){
				console.log('After create', offers);
				
				cancelOffer(account, seq, function(err){
					accountOffers(account, function(err, offers){
						console.log('After cancel', offers);
					});
				});
			});
		}
	});
}

function accountInfo(address, callback) {
	var request = remote.request_account_info({account: address})
		.on('success', function(data){ callback(null, data);})
		.on('error', function(e){
			callback(e, null);
		});
	request.timeout(TIMEOUT, function(){
		callback('timeout', null);
	});
	
	try {
		request.request();
	} catch (e) {
		callback(e, null);
	}
}

function accountLines(address, callback) {
	var request = remote.request_account_lines({account: address})
				.on('success', function(data){ callback(null, data);})
				.on('error', function(e){
					callback(e, null);
				});
	request.timeout(TIMEOUT, function(){
		callback('timeout', null);
	});

	try {
		request.request();
	} catch (e) {
		callback(e, null);
	}	
}

function accountOffers(address, callback) {
	var request = remote.request_account_offers({account: address})
					.on('success', function(data){parseOffers(data, callback);})
					.on('error', function(e){
						console.error('Check Order error.', e);
						callback('AccountOfferErr', null);
					});
	request.timeout(TIMEOUT, function(){
		callback('timeout', null);
	});
	try {
		request.request();
	} catch (e) {
		callback(e, null);
	}
}

function parseOffers(data, callback) {
	var offers = {};
	data.offers.forEach(function(offerData) {
		var order = {};
		var gets = Amount.from_json(offerData.taker_gets);
		var pays = Amount.from_json(offerData.taker_pays);			

		order.type = (offerData.flags === 0) ? 'buy' : 'sell';
		order.gets_currency = gets.currency().to_human();
		order.gets_issuer   = gets.issuer().to_json();
		order.gets_value    = (order.gets_currency == 'XRP') ? gets.to_number()/1000000 : gets.to_number();
		order.pays_currency = pays.currency().to_human();
		order.pays_issuer   = pays.issuer().to_json();
		order.pays_value = (order.pays_currency == 'XRP') ? pays.to_number()/1000000 : pays.to_number();
		order.price = (order.type == 'buy') ? order.gets_value/order.pays_value : order.pays_value / order.gets_value;
		order.seq = offerData.seq;
		
		offers[order.seq] = order;
	});	
	
	callback(null, offers);
}

function createOffer(address, type, buy_amount, sell_amount, callback) {
	var self = this;
	var transaction = remote.transaction();	
		
	transaction.offer_create({
		from : address,
		buy  : buy_amount,
		sell : sell_amount
	});

	if (type === 'sell') {
		transaction.set_flags('Sell');
	};

	transaction.on('proposed', function(res) {
		console.log('Offer proposed.' + res.tx_json.Sequence);
	});

	transaction.on('success', function(res) {
		console.log('Offer success.' + res.tx_json.Sequence);
		callback(null, res.tx_json.Sequence);
	});

	transaction.on('error', function(res) {
		console.error('Offer error. ');
		console.error(JSON.stringify(res));
		callback('CreateOfferErr', 0);
	});

	var buy_currency = buy_amount.currency().to_human();
	var buy_value = (buy_currency == 'XRP') ? buy_amount.to_number()/1000000 : buy_amount.to_number();
	var sell_currency = sell_amount.currency().to_human();
	var sell_value = (sell_currency == 'XRP') ? sell_amount.to_number()/1000000 : sell_amount.to_number();
	var price = (type == 'buy') ? sell_value / buy_value : buy_value / sell_value;
	
	console.log('Create offer: ' + type + ' ' + buy_value + buy_currency + ' ' + sell_value + sell_currency + ' Price: ' + price);
	
	try {
		transaction.submit();
	} catch (e) {
		console.error('Offer submit error. ', e);
		callback('CreateOfferErr', 0);
	}
}

function cancelOffer(address, seq, callback) {
	var transaction = remote.transaction();
	transaction.offer_cancel(address, seq);

	transaction.on('success', function(res) {
		console.log('Cancel offer success. ' + seq);
		callback(null)
	});
	transaction.on('error', function(res) {
		console.error('Cancel offer error. ' + seq);
		console.error(JSON.stringify(res));
		callback('CancelErr');
	});

	try {
		transaction.submit();
	} catch (e) {
		console.error('Cancel submit error. ', e);
		callback('CancelErr');
	}
	console.log('Cancel offer - ' + seq + '.');
}

function createAmount(value, curr, issuer) {
	var amt = Amount.from_human(value + curr);
	amt.set_issuer(issuer);
	return amt;
}
</pre>
			<h4>以上代码直接可用。足以满足基本需求.</h4>
		</div>
	</div>
</div>
