<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">选择语言</div>
		<div class="panel-body">
			<p>
				如果没有钱包，请先<a href="http://download.ripplefox.com" target="_blank">下载离线钱包</a>。在线钱包和离线钱包操作几乎一样。
			</p>
			<p>打开钱包后，右下角选择中文。</p>
			<img class="img-thumbnail img-responsive" src="http://s6.sinaimg.cn/mw690/005w0PNKgy6TRx8wzWJe5">
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">创建钱包</div>
		<div class="panel-body">
			<p>
				无论是否有秘钥，都要创建一个新账户。<br>
				<img class="img-thumbnail img-responsive" src="http://s16.sinaimg.cn/mw690/005w0PNKgy6TRxkaAuX9f">
			</p>
			
			<p>
				新用户选择打开一个空账户了。有秘钥的选另一个。<br>
				<img class="img-thumbnail img-responsive" src="http://s13.sinaimg.cn/mw690/005w0PNKgy6U124EUpefc">
			</p>
			<p>
				然后保存文件。这个文件就是你的本地钱包文件。<br>
				<img class="img-thumbnail img-responsive" src="http://s12.sinaimg.cn/mw690/005w0PNKgy6TRxJBugHcb">
			</p>
			<p>
				保存时会让你输入密码。这个密码以后就可以用来打开本地钱包。输入密码后点“加密账户”。<br>
				<img class="img-thumbnail img-responsive" src="http://s6.sinaimg.cn/mw690/005w0PNKgy6U11YFCLja5">
			​</p>
			<p>
				然后就会显示你的账号信息。下图红框就是你的地址，别人就可以向这个地址发送钱啦！<br>
				<img class="img-thumbnail img-responsive" src="http://s9.sinaimg.cn/mw690/005w0PNKgy6TRymZoj6f8">
			​</p>
			<p>
				当然，你要先保存好密钥。点击“显示密钥”，然后确定。<br>
				把密钥抄下来，或者打印出来放到安全的地方。如果电脑坏了，可以用密钥恢复钱包。把刚才生成的wallet.txt放邮箱或网盘里也是个好方法。保存好了后，就点“嗯，我把密钥保存好了”。​<br>
				<img class="img-thumbnail img-responsive" src="http://s2.sinaimg.cn/mw690/005w0PNKgy6TRysbNhne1">
			​</p>
			
			<p>
				​恭喜，钱包已经创建好了。不过显示只有 0 XRP。把钱包地址发给朋友或者加瑞狐网关群389185252找人免费激活吧。记住，只能发地址。密钥在任何情况下都不要告诉别人。<br>
				<img class="img-thumbnail img-responsive" src="http://s16.sinaimg.cn/mw690/005w0PNKgy6TRyIg6C30f">
			​</p>
			<a class="btn btn-primary btn-lg" style="width: 300px;" href="#/trust">
				    继续教程：信任网关 &gt;&gt;
			</a>
		</div>
	</div>
</div>
