<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">下载钱包</div>
		<div class="panel-body">
			<p>
				瑞波是个分布式账本技术。由美国瑞波公司开发并维护。国外资源：<a href="https://www.xrpchat.com/links/" target="_blank">www.xrpchat.com/links</a>
			</p>
			<p>国外github下载：<a href="https://github.com/ripplefox/ripplewallet/releases" target="_blank">github.com/ripplefox/ripplewallet/releases</a></p>
			<p>国内百度网盘下载：<a href="https://pan.baidu.com/s/1sosDPDtwbMDhwHdz-1Dh7w" target="_blank">https://pan.baidu.com/s/1sosDPDtwbMDhwHdz-1Dh7w</a> 提取码: <strong>iyzp</strong></p>
			<p>还可通过QQ群703611153文件下载。下载好了就开始创建钱包吧。</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">创建（恢复）钱包</div>
		<div class="panel-body">
			<p>打开钱包后，左下角是版本号，右下角是切换语言。目前钱包支持英、中、日三种语言。</p>
			<p>首先，我们选择“创建新账户”。</p>
			<img class="img-thumbnail img-responsive" src="img/create/create.png">
			<p>首次使用瑞波选择第一个菜单“创建一个全新账户”。如果你有秘钥，选第二个“用密钥创建”。如果你有助记词选“用助记词创建”。</p>
			<img class="img-thumbnail img-responsive" src="img/create/create2.png">
			<p>软件会提示你将钱包文件存放到哪里（恢复钱包需要先填入正确的密钥或助记词）。建议用专门的文件夹并改一个好记的名字，然后点“保存”。</p>
            <img class="img-thumbnail img-responsive" src="img/create/savefile.png">
            <p>保存时会让你输入密码。这个密码以后就可以用来打开本地钱包。输入密码后点“加密账户”。​</p>
            <img class="img-thumbnail img-responsive" src="img/create/encrypt.png">
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">备份钱包</div>
		<div class="panel-body">
			<p>钱包这时就已经创建好了，下图红框就是你的地址，别人就可以向这个地址发送钱啦！​</p>
			<img class="img-thumbnail img-responsive" src="img/create/savesecret.png">
			
			<p>此时最重要的事是备份钱包，点击“显示密钥”，然后确定。</p>
			<img class="img-thumbnail img-responsive" src="img/create/secret.png">
			<p>把12个汉字的助记词抄下来。追求极致安全可连英文助记词甚至密钥一起抄。同时建议把刚才生成的钱包txt文件放优盘存一份。保存好了后，就点“是，我已经保存好了”。​</p>
			<p>你也可以在打开钱包后，点右上角的地址，找到自己的地址并再次备份钱包</p>	
			<img class="img-thumbnail img-responsive" src="img/create/menu.png">​
			<p>恭喜，钱包已经创建好了。把钱包地址发给朋友或者从交易所提现一些XRP激活吧。</p>
			<p>记住，只能发地址。<strong>密钥或助记词在任何情况下都不要告诉别人</strong>。</p>
			<p>也可到QQ群找热心的激活专员帮助。​</p>
			<a class="btn btn-primary btn-lg" style="width: 300px;" href="#/trust">
				    继续教程：信任网关 &gt;&gt;
			</a>
		</div>
	</div>
</div>
