<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">FMM：瑞波里的超级余额宝</div>
		<div class="panel-body">
			<p>FMM是瑞狐网关的做市基金。成立于2014年5月。每年分发几百万XRP给持有者。</p>
			<p>FMM通过程序自动交易，为世界各大网关提供流动性。同时利用市场间的差价赚取利润。原理简单，稳定可靠，收益不错，但也没有超高利润，可用于理财，而不是发财。</p>
			<p>FMM是100%透明运营的，持仓、收益都是实时抓取Ripple数据并显示在<a href="https://ripplefox.com/public/fund/fmm" target="_blank">FMM专用的页面</a>。</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">如何得到或赎回FMM</div>
		<div class="panel-body">
			<p>FMM直接在瑞波里交易，瑞狐以1 CNY价格卖出，并以0.999 CNY回购。</p>
			<p>信任瑞狐网关的FMM，网关<strong>rKiCet8SdvWxPXnAgYarFUXMh1zCPz432Y</strong>，货币代码手动输入<strong>FMM</strong>。</p>
			<p><ul>
               	<li><strong>得到FMM</strong>
               		<ol>
	            		<li>直接用瑞狐的CNY买。交易对FMM/CNY。</li>
	            		<li>信任FMM后，然后用“兑换”功能得到。适用于小额，并请注意汇率。</li>
	            	</ol> 	
               	</li>
              </ul>
              <ul>
              	<li><strong>如何赎回: </strong>
	              <ol>
	              	<li>直接挂单FMM/CNY卖出。千万不要发送FMM到网关或热钱包。</li>
	              </ol>
	            </li>
              </ul>
            </p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">使用场景</div>
		<div class="panel-body">
			<p>FMM相当于有利息的CNY，有点类似于手机里的余额宝。买卖的差价用于鼓励用户中长期持有。</p>
			<p>当你想要以较低的价格买入XRP，但因为短时间无法达到预期的价位，这时就可以用XRP/FMM交易对挂好委托单。这样在没成交之前，你都可以得到XRP的分红。</p>
			<p>同样，你也可以在预期XRP价格下降时，也可以将XRP直接卖成FMM，并以FMM在更低的价位挂好委托单。</p>
			<p>对于外汇交易者，更可以用USD/FMM、JPY/FMM等形式交易外汇。在没有成交之前，都可以得到XRP的分红哦。</p>
		</div>
	</div>
</div>
