<div class="row featurette">
	<div class="col-md-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="下载瑞波钱包">
				
			</rd-widget-header>
			<rd-widget-body>
				<div class="message">
					国外github下载：<a href="https://github.com/ripplefox/ripplewallet/releases" target="_blank" class="btn btn-success btn-lg"><i class="fa fa-github"></i> <small>Windows, Linux &amp; Mac</small></a>
				</div>
				<hr />
				<div class="message">
					国内百度网盘下载： <a href="https://pan.baidu.com/s/1sosDPDtwbMDhwHdz-1Dh7w" target="_blank" class="btn btn-success btn-lg"> <img src="img/pan.jpeg" height="60px"> 提取码：iyzp</a>
				</div>
				<hr />
				<div class="message">
					QQ群703611153里文件下载。<img src="img/qrcode_qq.jpeg" height="120px">
				</div>
				<hr />
				<div class="message">
					合作的ULT微信群也可提供技术支持。
					<img src="img/qrcode_wechat.jpg" height="120px">
				</div>
			</rd-widget-body>
		</rd-widget>
    </div>
	<div class="col-md-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="选择瑞波">
   			</rd-widget-header>
   			<rd-widget-body>
				<div class="message">
					世界<span class="error">非常成熟</span>的分布式网络，世界合作的银行众多。
				</div>
				<hr />
				<div class="message">
					流动性<span class="error">非常好</span>。世界上有各种各样的网关提供服务。
				</div>
				<hr />
				<div class="message">
					使用<span class="error">非常方便</span>，有钱包就可完成转账支付。
				</div>
				<hr />
				<div class="message">
					放到去中心化钱包里，<span class="error">最安全</span>。
				</div>
				<hr />
				<div class="message">
					<a href="#/create">开始学习教程 - 创建钱包</a>
				</div>
				<hr />
				<!-- <div class="message">
					<a href="https://stellar.chat/board-8.0.html" target="_blank">恒星论坛 - 讨论区块链的社区</a>
				</div> -->
   			</rd-widget-body>
   		</rd-widget>
	</div>
</div>
