<div class="row featurette">
	<div class="col-md-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="沟通世界">
				
			</rd-widget-header>
			<rd-widget-body>
				<img class="img-responsive" style="margin: auto" src="img/mm_ch.png">
			</rd-widget-body>
		</rd-widget>
    </div>
	<div class="col-md-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="选择瑞波">
   			</rd-widget-header>
   			<rd-widget-body>
				<div class="message">
					世界<span class="error">非常成熟</span>的分布式网络，世界合作的银行众多。
				</div>
				<hr />
				<div class="message">
					流动性<span class="error">非常好</span>。世界上有各种各样的网关提供服务。
				</div>
				<hr />
				<div class="message">
					使用<span class="error">非常方便</span>，有钱包就可完成转账支付。
				</div>
				<hr />
				<div class="message">
					专业的金融出身团队，专业的开发队伍。
				</div>
				<hr />
				<div class="message">
					<a href="#/create">开始学习教程 - 创建钱包</a>
				</div>
				<hr />
				<div class="message">
					<a href="https://stellar.chat/board-8.0.html" target="_blank">恒星论坛 - 讨论区块链的社区</a>
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
</div>
