<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">钱包追踪</div>
		<div class="panel-body">
			<div class="-post-content">
				<ol style="color:#5A5A5A;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;background-color:#FFFFFF;">
				<li>
					瑞波是数字货币，匿名性很强，如果密钥丢了，钱就没了。<br>
					<br>
					<span style="font-weight:700;">不要给人密钥</span><br>
					<span style="font-weight:700;">不要接受“好心人”帮助</span><br>
					<span style="font-weight:700;">不要让人控制电脑，不要让人远程帮助</span><br>
					<span style="font-weight:700;">密钥或钱包文件多重备份，比如优盘、邮箱</span><br>
					&nbsp;
				</li>
				<li>
					如果发现资产被转移了，请用工具追踪。<br>
					工具在 <a href="https://xrpcharts.ripple.com/" target="_blank"><span class="text-danger">https://xrpcharts.ripple.com/</span></a> 可找到。<br>
					&nbsp;
				</li>
				<li>
					如果最后资金转到了交易所的热钱包，可以联系对应的交易所调取提现记录。<br><br>
					
					比特时代：<span style="font-weight:700;">rGmXrJ8JChPUnSULPUabyhjAv7Dg9nwMjK</span><br>
					聚币钱包：<span style="font-weight:700;">rpJrC46bPSUiWwTuuRGSiqHdSaCNWTFBZv</span><br>
					&nbsp;
				</li>
				<li>
					瑞波里，谁有密钥，谁就是钱包的所有者。如果钱被转移了，<span class="text-danger">请联系知道自己密钥的人</span>。<br><br>
				</li>
				<li>
					目前能追回的被盗资产比例很小。<span class="text-danger">提高自己的安全意识最重要</span>。<br><br>
				</li>
			</ol></div>
	</div>
</div>
