<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">充值提现、承兑</div>
		<div class="panel-body">
			<p>目前瑞波充值提现可进行场外交易，类似于火币和OK的承兑商形式。用户需自行辨别风险，做好身份认证。</p>
			<p>承兑商一般都是QQ群管理员，加群后可先在群里询问情况。找大家公认的承兑商。</p>
			<p>有问题或要充提请加社区QQ群703611153。瑞狐社区的其他群也可以得到解答。</p>
		</div>
	</div>
	<div class="panel panel-default">
        <div class="panel-heading">安全提示</div>
        <div class="panel-body">
            <p>只有在钱包里的XRP才是你的，交易所的只是数据库的一串数字。</p>
            <p>购买瑞波币的也可使用bittrex，poloniex等海外交易所，但瑞波钱包最安全。</p>
            <p>有骗子会冒充管理员，或火币OK的客服。先在群里确认真伪。</p>
            <p>所有的瑞波网关自2017年后不再提供淘宝充值等业务。</p>
            <a class="btn btn-primary btn-lg" style="width: 300px;" href="#/trade">
                    继续教程：交易 &gt;&gt;
            </a>
        </div>
    </div>
</div>
