<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">充值</div>
		<div class="panel-body">
			<p>
				浏览器直接打开充值主页<a href="https://ripplefox.taobao.com/" target="_blank">https://ripplefox.taobao.com/</a><br>
				或<br>
				淘宝主页里搜索<span class="text-danger">店铺</span>（不是宝贝），店铺名：瑞狐上海<br>
				<img class="img-thumbnail img-responsive" src="http://s10.sinaimg.cn/mw690/005w0PNKgy6Xmz9BQMNa9">
			</p>
			
			<p>
				点选所要的金额，然后点立即购买。在提交订单时，填入钱包地址。<br>
				地址就在钱包右上角，在线钱包用户要点开右上角齿轮，然后看账户。<br>
				<img class="img-thumbnail img-responsive" src="http://s14.sinaimg.cn/mw690/005w0PNKgy6XmAIKUYl4d">
			</p>
			<p>
				​在钱包中出现对应的充值金额后，回到淘宝及时<span class="text-danger">确认收货</span>。发货是自动的，有问题旺旺留言即可，或到QQ群找群主。
			​</p>
			<a class="btn btn-primary btn-lg" style="width: 300px;" href="#/withdraw">
				    继续教程：提现 &gt;&gt;
			</a>
		</div>
	</div>
</div>
