<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">添加ULT</div>
		<div class="panel-body">
		    <p>ULT是下一代全球自金融区块链协议，由瑞狐社区孵化。目标是打造中国自己的瑞波价值网络。专注于企业应用，用技术促进实业发展。供应链金融的产品已经上线多家上市公司，并得到了企业的认可。</p>
			<p>最上面的菜单点“网关”后，找到ULT Ultiledger字样。点授信，等六秒左右，就授信成功，可以去交易了。</p>
			<img class="img-thumbnail img-responsive" src="img/ult/trust_ult.png">
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">交易ULT</div>
		<div class="panel-body">
		    <p>在交易界面，在第一个区域可以点“交易对”三个字，进行交易选择。</p>
		    <img class="img-thumbnail img-responsive" src="img/trade/tradepair.png">
		    <p>选择ULT作为基础货币，CNY或XRP作为对手方货币。</p>
		    <img class="img-thumbnail img-responsive" src="img/ult/trade_ult.png">
            <p>然后就可以进行买卖了，提交前注意价格和数量。</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">提现ULT</div>
		<div class="panel-body">
			<div class="panel-body">
			<p>
				自动提现等待开放，人工提现可在群里咨询管理员。<br>
			</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">充值ULT到网关</div>
		<div class="panel-body">
			<div class="panel-body">
			<p>
				人工充值可在群里咨询管理员。。
			</p>
			</div>
		</div>
	</div>
</div>
