<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">交易恒星</div>
		<div class="panel-body">
		    <p>恒星和瑞波有同一个创始人Jed。恒星的总量只有500亿出头，瑞波是1000亿。你可以在瑞波里直接交易恒星。</p>
			<p>第一步：点“网关”菜单后，找到XLM Stellar Lumens字样。点授信，等六秒左右，就授信成功，可以去交易了。</p>
			<p>第二步：在交易界面，点击”交易对“，选择XLM作为基础货币，CNY或XRP作为对手方货币。回到交易页面。</p>
			<p>第三步：输入价格和数量进行买卖。</p>
			<p>具体步骤图可参考 <a class="btn btn-primary" href="#/ult">交易ULT &gt;&gt;</a></p>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">瑞波提现到恒星</div>
		<div class="panel-body">
			<p>点击“发送”菜单，在发送那里填入xlm@ripplefox.com</p>
			<p>
				<img class="img-thumbnail img-responsive" src="img/xlm/withdraw.png">
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">从恒星充值到网关</div>
		<div class="panel-body">
			<div class="panel-body">
			<p>
				记得要添加网关后才能充值哦。打开恒星钱包，在发送那里填ripple地址即可<br>
				什么，你没钱包？快去加Q群691388123然后下一个吧。
			</p>
			<p>
				<img class="img-thumbnail img-responsive" src="img/xlm/deposit.png">
			</p>
		</div>
	</div>
</div>
