<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">新钱包交易ULT</div>
		<div class="panel-body">
			<p>点“网关”后，找到ULT Ultiledger字样。点授信，等六秒左右，就授信成功，可以去交易了。</p>
			<p>在交易界面，点击”交易对“，选择ULT作为基础货币，CNY或XRP作为对手方货币。</p>
			<p>然后就可以进行买卖了，提交前注意价格和数量。下单无悔。</p>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">老钱包添加ULT</div>
		<div class="panel-body">
			<p>
				代码是<strong>ULT</strong>，也由瑞狐发行。强烈建议你先添加ULT网关。网关地址 <strong>rKiCet8SdvWxPXnAgYarFUXMh1zCPz432Y</strong> ，可用快捷键Ctrl+V粘贴<br>
				<img class="img-thumbnail img-responsive" src="img/ult/trust_ult.png">
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">老钱包添加ULT交易对</div>
		<div class="panel-body">
			<p>
				“交易 高级”那里点“add pair”，代码<strong>ULT</strong>。复制网关地址 <strong>rKiCet8SdvWxPXnAgYarFUXMh1zCPz432Y</strong> ，并用快捷键Ctrl+V粘贴<br>
				<img class="img-thumbnail img-responsive" src="img/ult/trade_ult.png">
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">提现ULT</div>
		<div class="panel-body">
			<div class="panel-body">
			<p>
				自动提现等待开放，人工提现可在群里咨询管理员。<br>
			</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">充值ULT到网关</div>
		<div class="panel-body">
			<div class="panel-body">
			<p>
				人工充值可在群里咨询管理员。。
			</p>
			</div>
		</div>
	</div>
</div>
