<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">新钱包交易恒星</div>
		<div class="panel-body">
			<p>点“网关”后，找到XLM Stellar Lumens字样。点授信，等六秒左右，就授信成功，可以去交易了。</p>
			<p>在交易界面，点击”交易对“，选择XLM作为基础货币，CNY或XRP作为对手方货币。</p>
			<p>然后就可以进行买卖了，提交前注意价格和数量。下单无悔。</p>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">老钱包添加恒星网关</div>
		<div class="panel-body">
			<p>
				恒星代码是XLM，也由瑞狐发行。强烈建议你先添加XLM网关。<br>
				<img class="img-thumbnail img-responsive" src="img/xlm/trustxlm.png">
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">老钱包添加恒星交易对</div>
		<div class="panel-body">
			<p>
				“交易 高级”那里点“add pair”，代码<strong>XLM</strong>。复制网关地址 <strong>rKiCet8SdvWxPXnAgYarFUXMh1zCPz432Y</strong> ，并用快捷键Ctrl+V粘贴<br>
				<img class="img-thumbnail img-responsive" src="img/xlm/xlmpair.png">
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">瑞波提现到恒星</div>
		<div class="panel-body">
			<div class="panel-body">
			<p>
				无论是新老钱包，在发送那里填入xlm@ripplefox.com<br>
			</p>
			<p>
				<img class="img-thumbnail img-responsive" src="img/xlm/withdraw.png">
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">从恒星充值到网关</div>
		<div class="panel-body">
			<div class="panel-body">
			<p>
				记得要添加网关后才能充值哦。打开恒星钱包，在发送那里填ripple地址即可<br>
				什么，你没钱包？快去加Q群691388123然后下一个吧。
			</p>
			<p>
				<img class="img-thumbnail img-responsive" src="img/xlm/deposit.png">
			</p>
		</div>
	</div>
</div>
