<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">交易bitstamp网关资产</div>
		<div class="panel-body">
			<div class="panel-body">
			<p>
				以国外网关bitstamp为例，它发行了美元和比特币。Bitstamp收千分之二的转账费，卖出也视同转账收费。<br>
				充值和提现要到bitstamp.net上提供英文的地址证明进行认证。不认证只可交易，不可提现。<br>
			</p>
			<p>
				新钱包在网关里选择bitstamp的USD后，可到交易界面进行美元交易。偶尔做做美元的买卖，赚赚差价，也是有意思的事情。
			</p>
			
			<p>
				老钱包先信任美元代码<strong>USD</strong>。复制网关地址 <strong>rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B</strong> ，并用快捷键Ctrl+V粘贴<br>
				<img class="img-thumbnail img-responsive" src="img/usd/usdpair.png">
			</p>
		</div>
	</div>
</div>
