<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">交易美元或比特币</div>
		<div class="panel-body">
			<div class="panel-body">
			<p>
				美元和比特币最大的网关是bitstamp，但bitstamp收千分之二的转账费，卖出美元或比特币也视同转账。<br>
				充值和提现bitstamp的美元和比特币请到bitstamp.net上进行注册和认证。需提供英文的地址证明。具体情况请自行了解。<br>
			</p>
			<p>
				美元代码<strong>USD</strong>。复制网关地址 <strong>rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B</strong> ，并用快捷键Ctrl+V粘贴<br>
				<img class="img-thumbnail img-responsive" src="img/usd/usdpair.png">
			</p>
			<p>
				比特币代码<strong>BTC</strong>。复制网关地址 <strong>rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B</strong> ，并用快捷键Ctrl+V粘贴<br>
				<img class="img-thumbnail img-responsive" src="img/usd/btcpair.png">
			</p>
		</div>
	</div>
</div>
