<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">兑换 (交易 simple)</div>
		<div class="panel-body">
			<h4>适用于小额市价成交。</h4>
			<p>
				先选择接收哪种货币。信任过瑞狐的CNY，就可以兑换CNY。<br>
				<span class="text-danger">数字会变，多等一会儿更优惠！</span>下图就是兑换100个XRP。<br>
				
				兑换不会冻结XRP，如果你的XRP不够买卖，你可以兑换10个XRP，就又能用好久了。<br>
				建议一次兑换不要超过1000元价值的货币。比如每次10000 XRP。<br>
				<img class="img-thumbnail img-responsive" src="img/trade/simple.jpg">
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">添加交易对 (交易 高级)</div>
		<div class="panel-body">
			<p>
				交易是以交易对为核心的，为了方便，我们先添加交易对吧。点上面的add pair<br>
				<img class="img-thumbnail img-responsive" src="img/trade/addpair.jpg">
			</p>
			<p>
				复制网关地址 <strong>rKiCet8SdvWxPXnAgYarFUXMh1zCPz432Y</strong> ，并用快捷键Ctrl+V粘贴<br>
				<img class="img-thumbnail img-responsive" src="img/trade/addpair2.png">
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">买卖</div>
		<div class="panel-body">
			<p>
				买卖的过程就不多说了。注意价格哦。<span class="text-danger">有人可是不小心1分钱卖掉了上千万的XRP。几秒钟一栋房子没了。千万不要把价格和数量填反啦。​</span><br>
				<img class="img-thumbnail img-responsive" src="img/trade/buy.png">
			</p>
			
			<p>
				只要有网关，通过添加各种交易对，可以交易各种外汇和数字货币。比如USD.Bitstamp/CNY.RippleFox, JPY.Mrr​/CNY.RippleFox, BTC.Bitstamp/CNY.RippleFox, XLM.RippleFox/CNY.RippleFox
			​</p>
			<p>
				常用网关地址
				<ul>
					<li>RippleFox (CNY, XLM, BTS, FMM): <strong>rKiCet8SdvWxPXnAgYarFUXMh1zCPz432Y</strong></li>
					<li>Bitstamp (USD, BTC): <strong>rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B</strong></li>
				</ul>
			</p>
			<h4>教程结束，祝你成为瑞波高手！</h4>
		</div>
	</div>
</div>
