<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">兑换</div>
		<div class="panel-body">
			<p>兑换就是使用瑞波的强大功能，直接市价成交。适用于小额多次。</p>
			<p>选择“交易”，然后点“兑换”。先选择接收哪种货币。只有信任过的网关资产，才可以兑换。</p>
			<p><span class="text-danger">数字会变，多等一会儿更优惠！</span>下图就是兑换100个ULT，出现绿色选项后点击后确认即可完成兑换。</p>
			<img class="img-thumbnail img-responsive" src="img/trade/convert.png">
			<p>兑换不会冻结XRP。因为一个买卖单也要冻结5XRP，如果你的XRP不够，你就可以兑换10个XRP，就又能用好久了。</p>
			<p>建议一次兑换少量的数字凭证。比如每次不超过10000 XRP。</p>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">交易</div>
		<div class="panel-body">
			<p>点“交易”后，在第一个区域可以点“交易对”三个字，进行资产的选择。选好后点“回到交易页面”。</p>
			<img class="img-thumbnail img-responsive" src="img/trade/tradepair.png">
			<p>交易的两种资产不能相同，如果可选择的资产不在，那么你应该先添加信任。</p>
			<p>然后就可以进行买卖了，提交前注意价格和数量。下单无悔哦。</p>
			<img class="img-thumbnail img-responsive" src="img/trade/buy.png">
			<p>在交易界面，你可以管理自己的委托单，并看到市场上的情况。交易过程简单直接。</p>
			<p>瑞波的交易功能很强大，只需要添加网关，就能进行资产的两两交易。</p>
			<p>教程主体结束，祝你成为瑞波高手！</p>
		</div>
	</div>
</div>
