<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">兑换</div>
		<div class="panel-body">
			<p>新钱包选择“交易”，然后点“兑换”。老钱包选“交易”后点“simple”</p>
			<h4>适用于小额市价成交。</h4>
			<p>先选择接收哪种货币。只有信任过的代码，才可以兑换。</p>
			<p><span class="text-danger">数字会变，多等一会儿更优惠！</span>下图就是兑换100个XRP。</p>
			<p>
				兑换不会冻结XRP，如果你的XRP不够买卖，你可以兑换10个XRP，就又能用好久了。<br>
				建议一次兑换少量的数字凭证。比如每次10000 XRP。<br>
				<img class="img-thumbnail img-responsive" src="img/trade/simple.jpg">
			</p>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">新钱包交易</div>
		<div class="panel-body">
			<p>新钱包点“交易”后，在第一个区域可以点“交易对”三个字，进行资产的选择。</p>
			<p>交易的两种资产不能相同，如果可选择的资产不在，那么你应该先添加信任。</p>
			<p>然后就可以进行买卖了，提交前注意价格和数量。下单无悔哦。</p>
			<p>同样的，新钱包的话，教程结束，祝你成为瑞波高手！</p>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">老钱包：添加交易对 (交易 高级)</div>
		<div class="panel-body">
			<p>
				交易是以交易对为核心的，为了方便，我们先添加交易对吧。点上面的add pair<br>
				<img class="img-thumbnail img-responsive" src="img/trade/addpair.jpg">
			</p>
			<p>
				复制网关地址 <strong>rKiCet8SdvWxPXnAgYarFUXMh1zCPz432Y</strong> ，并用快捷键Ctrl+V粘贴<br>
				<img class="img-thumbnail img-responsive" src="img/trade/addpair2.png">
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">买卖</div>
		<div class="panel-body">
			<p>
				买卖的过程就不多说了。注意价格哦。<span class="text-danger">有人可是不小心1分钱卖掉了上千万的XRP。几秒钟一栋房子没了。千万不要把价格和数量填反啦。​</span><br>
				<img class="img-thumbnail img-responsive" src="img/trade/buy.png">
			</p>
			
			<p>
				只要有网关，通过添加各种交易对，可以交易各种外汇和数字货币。比如USD.Bitstamp/CNY.RippleFox, JPY.Mrr​/CNY.RippleFox, BTC.Bitstamp/CNY.RippleFox, XLM.RippleFox/CNY.RippleFox
			​</p>
			<p>
				常用网关地址
				<ul>
					<li>Bitstamp (USD, BTC): <strong>rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B</strong></li>
				</ul>
			</p>
			<h4>教程结束，祝你成为瑞波高手！</h4>
		</div>
	</div>
</div>
