<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">信任网关</div>
		<div class="panel-body">
			<p>钱包必须激活才可继续操作。每添加一个网关，都会冻结5个XRP。</p>
			<p>在有足够XRP的前提下，点“网关”菜单，然后点击“授信CNY”即可。</p>
			<img class="img-thumbnail img-responsive" src="img/trust/trust.png">
			<p>点击后，会提示你设置成功。但还要过个五六秒钟，才会生效。生效后授信按钮会变成删除按钮。</p>
			<img class="img-thumbnail img-responsive" src="img/trust/done.png">
			<p>添加完第一个网关后，你可以再添加USDT，XLM，ULT网关，然后就可以去交易了。</p>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">删除网关</div>
		<div class="panel-body">
			<p>如果你不想再持有某种资产，那么你可以删除网关，也就是删除授信。</p>
			<p>点击“概况”菜单，在余额的子项下，你可以看到当前的资产。点对应的“删除授信”即可。等待六秒后，为零的资产就正式移除了。</p>
			<img class="img-thumbnail img-responsive" src="img/trust/remove.png">
			<p>​注意1：只有添加了网关，别人才可以转账给你。否则无法充值。​</p>
			<p>​注意2：千万不要信任来历不明的网关。否则可能导致币被置换，就相当于币丢了。​</p>
			<a class="btn btn-primary btn-lg" style="width: 300px;" href="#/taobao">
				    继续教程：充值 &gt;&gt;
			</a>
		</div>
	</div>
</div>
