<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">信任网关</div>
		<div class="panel-body">
			<p>
				钱包必须激活才可继续操作。建议用31 XRP激活钱包。叫朋友发送或从交易所提现出来相应数量即可。<br>
				在"资金菜单"，选择"Gateways"，然后点右边的"Connect gateway"。<br>
				<img class="img-thumbnail img-responsive" src="img/trust/open.jpg">
			</p>
			
			<p>
				复制网关地址 <strong>rKiCet8SdvWxPXnAgYarFUXMh1zCPz432Y</strong> ，并用快捷键Ctrl+V粘贴，然后在货币类型里选择CNY。<br>
				<img class="img-thumbnail img-responsive" src="img/trust/imput.png">
			</p>
			<p>
				点击“保存”后，会让你二次确认。英文提示“你正在连接网关，该网关账号会保管你的CNY资产”。注意：千万不要信任来历不明的网关。否则可能导致钱被置换，提不了现。<br>
				<img class="img-thumbnail img-responsive" src="img/trust/done.png">
			</p>
			<p>
				​瑞狐网关已关闭，以上仅为示例！请自行研究使用其他网关。
			​</p>
			<a class="btn btn-primary btn-lg" style="width: 300px;" href="#/taobao">
				    继续教程：充值 &gt;&gt;
			</a>
		</div>
	</div>
</div>
