<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">提现风险提示</div>
		<div class="panel-body">
			<h3>钱包只是提供一个瑞波交互工具，XRP在钱包存放最安全。</h3>
			<h4>同样的，瑞波可进行场外交易，类似于火币和OK的承兑商形式。用户需自行辨别风险，防止骗子。</h4>		
			<p>提现XRP也可发送到海外交易所。支持瑞波的交易所有bitrex，火币海外站等。建议平进XRP还是放在钱包里。</p>
			<p>提现其他非XRP资产请查看各网关的提示，或者使用场外交易。</p>
			<p>同样，可到社区交流群交流，目前有社区QQ群703611153。瑞狐社区的其他群也可以得到解答。</p>
			
			<a class="btn btn-primary btn-lg" style="width: 300px;" href="#/trade">
				    继续教程：交易 &gt;&gt;
			</a>
		</div>
	</div>
</div>
